node_modules/
.wwebjs_cache/
.wwebjs_auth/session/Default/Cache/
.wwebjs_auth/session/Default/Code Cache/
.wwebjs_auth/session/Default/Service Worker/
.wwebjs_auth/session/Default/Network/
.wwebjs_auth/session/Default/DawnCache/
